---
title: Welcome to JD prototype foundation
---

<div class="welcome page page--start">
	<div class="content-wrap">
			<div class="contents">
					<%= partial 'partials/emblem' %>
				  	<h1 class="contain-center">Janeiro Digital Prototype Base</h1>
			  		<%= partial 'partials/example' %>
			  		<p class="doc">
			    		<%= link_to "Read Middleman Online Documentation", "http://middlemanapp.com/" %>
			    		<%= link_to "Grid Demo", "/grid" %>
			    		<%= link_to "Component Demo", "/component" %>
			  		</p><!-- .doc -->
			</div>
	</div>
</div><!-- .welcome -->
